#b0{
	position: absolute;
    left: 50px;
    top: 100px;
}

#b1{
	position: absolute;
    left: 50px;
    top: 125px;
}

#b2{
	position: absolute;
    left: 50px;
    top: 150px;
}

#b3{
	position: absolute;
    left: 50px;
    top: 175px;
}

#b4{
	position: absolute;
    left: 50px;
    top: 200px;
}

#b5{
	position: absolute;
    left: 50px;
    top: 225px;
}

#b6{
	position: absolute;
    left: 50px;
    top: 250px;
}

#b7{
	position: absolute;
    left: 50px;
    top: 275px;
}

#b8{
	position: absolute;
    left: 50px;
    top: 300px;
}

#b9{
	position: absolute;
    left: 50px;
    top: 325px;
}

#b10{
	position: absolute;
    left: 50px;
    top: 350px;
}

#b11{
	position: absolute;
    left: 50px;
    top: 375px;
}

#b12{
	position: absolute;
    left: 50px;
    top: 400px;
}

#b13{
	position: absolute;
    left: 50px;
    top: 425px;
}

#b14{
	position: absolute;
    left: 50px;
    top: 450px;
}

#b15{
	position: absolute;
    left: 50px;
    top: 475px;
}