#b0{
	position: absolute;
    left: 115px;
    top: 70px;
}

#b1{
	position: absolute;
    left: 115px;
    top: 120px;
}

#b2{
	position: absolute;
    left: 115px;
    top: 155px;
}

#b3{
	position: absolute;
    left: 115px;
    top: 205px;
}

#b4{
	position: absolute;
    left: 115px;
    top: 257px;
}

#b5{
	position: absolute;
    left: 115px;
    top: 302px;
}

#b6{
	position: absolute;
    left: 115px;
    top: 355px;
}

#b7{
	position: absolute;
    left: 115px;
    top: 408px;
}

#b8{
	position: absolute;
    left: 115px;
    top: 462px;
}

#b9{
	position: absolute;
    left: 115px;
    top: 510px;
}

#b10{
	position: absolute;
    left: 115px;
    top: 560px;
}

#b11{
	position: absolute;
    left: 115px;
    top: 615px;
}

#b12{
	position: absolute;
    left: 115px;
    top: 665px;
}

#b13{
	position: absolute;
    left: 115px;
    top: 714px;
}

#b14{
	position: absolute;
    left: 115px;
    top: 764px;
}

#b15{
	position: absolute;
    left: 115px;
    top: 815px;
}

#c0{
	position: absolute;
    left: 150px;
    top: 125px;
    display: none;
}

#c1{
	position: absolute;
    left: 150px;
    top: 225px;
    display: none;
}

#c2{
	position: absolute;
    left: 150px;
    top: 325px;
    display: none;
}

#c3{
	position: absolute;
    left: 150px;
    top: 425px;
    display: none;
}

#c4{
	position: absolute;
    left: 150px;
    top: 525px;
    display: none;
}

#c5{
	position: absolute;
    left: 150px;
    top: 625px;
    display: none;
}

#c6{
	position: absolute;
    left: 150px;
    top: 725px;
    display: none;
}

#c7{
	position: absolute;
    left: 150px;
    top: 825px;
    display: none;
}

#d0{
	position: absolute;
    left: 250px;
    top: 175px;
    display: none;
}

#d1{
	position: absolute;
    left: 250px;
    top: 375px;
    display: none;
}

#d2{
	position: absolute;
    left: 250px;
    top: 575px;
    display: none;
}

#d3{
	position: absolute;
    left: 250px;
    top: 775px;
    display: none;
}

#e0{
	position: absolute;
    left: 350px;
    top: 275px;
    display: none;
}

#e1{
	position: absolute;
    left: 350px;
    top: 475px;
    display: none;
}

#drawing{
	position: absolute;
    top: 50px;
    left: 0px;
}

