#b0{
	position: absolute;
    left: 50px;
    top: 100px;
}

#b1{
	position: absolute;
    left: 50px;
    top: 150px;
}

#b2{
	position: absolute;
    left: 50px;
    top: 200px;
}

#b3{
	position: absolute;
    left: 50px;
    top: 250px;
}

#b4{
	position: absolute;
    left: 50px;
    top: 300px;
}

#b5{
	position: absolute;
    left: 50px;
    top: 350px;
}

#b6{
	position: absolute;
    left: 50px;
    top: 400px;
}

#b7{
	position: absolute;
    left: 50px;
    top: 450px;
}

#b8{
	position: absolute;
    left: 50px;
    top: 500px;
}

#b9{
	position: absolute;
    left: 50px;
    top: 550px;
}

#b10{
	position: absolute;
    left: 50px;
    top: 600px;
}

#b11{
	position: absolute;
    left: 50px;
    top: 650px;
}

#b12{
	position: absolute;
    left: 50px;
    top: 700px;
}

#b13{
	position: absolute;
    left: 50px;
    top: 750px;
}

#b14{
	position: absolute;
    left: 50px;
    top: 800px;
}

#b15{
	position: absolute;
    left: 50px;
    top: 850px;
}

#c0{
	position: absolute;
    left: 150px;
    top: 125px;
    display: none;
}

#c1{
	position: absolute;
    left: 150px;
    top: 225px;
    display: none;
}

#c2{
	position: absolute;
    left: 150px;
    top: 325px;
    display: none;
}

#c3{
	position: absolute;
    left: 150px;
    top: 425px;
    display: none;
}

#c4{
	position: absolute;
    left: 150px;
    top: 525px;
    display: none;
}

#c5{
	position: absolute;
    left: 150px;
    top: 625px;
    display: none;
}

#c6{
	position: absolute;
    left: 150px;
    top: 725px;
    display: none;
}

#c7{
	position: absolute;
    left: 150px;
    top: 825px;
    display: none;
}

#d0{
	position: absolute;
    left: 250px;
    top: 175px;
    display: none;
}

#d1{
	position: absolute;
    left: 250px;
    top: 375px;
    display: none;
}

#d2{
	position: absolute;
    left: 250px;
    top: 575px;
    display: none;
}

#d3{
	position: absolute;
    left: 250px;
    top: 775px;
    display: none;
}

#e0{
	position: absolute;
    left: 350px;
    top: 275px;
    display: none;
}

#e1{
	position: absolute;
    left: 350px;
    top: 475px;
    display: none;
}